:root {
  --background: #f2f2f2;
  --text: #000;
  --card-bg: #fff;
  --border: #ccc;
  --mark: red;
  --button-bg: #d32f2f;
  --button-hover: #b71c1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f2f2;
    --text: #000;
    --card-bg: #f2f2f2;
    --border: #555;
    --mark: #ff4d4d;
    --button-bg: #e53935;
    --button-hover: #c62828;
  }
}

* {
  box-sizing: border-box;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--background);
  font-family: sans-serif;
  color: var(--text);
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 10px 0;
  color: var(--text);
}

.grid {
  display: grid;
  grid-template-columns: 30%  70%;
  gap: 20px; 
}

.boton-reset {
  margin-top: 10px;
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: var(--button-bg);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-reset:hover {
  background-color: var(--button-hover);
}
