.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letra {
  font-size: 3rem;
  font-weight: bold;
  width: 35px;
  text-align: center;
  color: var(--text);
}

.casilla {
  background-color: var(--card-bg);
  border: 2px solid var(--border);
  padding: 10px 13px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text);
  transition: all 0.2s ease;
  width: 60px;
  text-align: center;
}

.casilla:hover {
  background-color: #eee;
}

.marcado {
  color: var(--mark);
  border-color: var(--mark);
  font-weight: bold;
  opacity: 0.2;

}

.bingo-card {
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  overflow: auto;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  padding: 1%;
  box-sizing: border-box;
  margin-top: 1%;
  margin-bottom: 1.5%;
}

.bingo-grid {
  display: grid;
  /* 5 columnas que nunca bajan de 48px y crecen equitativamente */
  grid-template-columns: repeat(5, minmax(48px, 1fr));
  grid-auto-rows: minmax(48px, 1fr); /* filas cuadradas mín. 48px */
  gap: 3px; /* reduce un poco el gap en móvil */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.bingo-grid-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  /* -webkit-overflow-scrolling: touch; */  
  display: flex;
  justify-content: center;
  align-items: center;
}
