.pattern-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.pattern-image {
  flex: 0 0 auto;
  /* nunca más grandes que 80px, ni más pequeños que 40px, y responden al ancho */
  width: clamp(40px, 60%, 80px);
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.pattern-image.marked,
.pattern-image.disabled {
  opacity: 0.2;
  cursor: default;
}

.pattern-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.pattern-line {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.pattern-selector-card {
  width: 100%; /* ✅ Muy importante */
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow-y: auto; /* scroll interno aquí */
  height: fit-content;
}
